
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Fuggles&family=Orbitron:wght@500&family=Oswald&family=Shadows+Into+Light&display=swap');

body{
 background-image: url(/CSS/img/black-1072366_1280.jpg);
 background-attachment: fixed;
 background-size: cover;
 font-family: 'Croissant One', serif;
 font-family: 'Dancing Script', cursive;
 font-family: 'Fuggles', cursive;
 font-family: 'Orbitron', sans-serif;
 font-family: 'Oswald', sans-serif;
 font-family: 'Shadows Into Light', cursive;


}
.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabeçalho-img{
    height: 82px;
}

.cabeçalho-nav{
    display: flex;
    gap: 32px;
}
.a,.b,.c{
    font-size: 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
display: inline;
justify-content: center;
align-items: center;
}
.titulo{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
font-size: 44px;
color:whitesmoke;
    
}


.paragrafo{
    font-size: 30px; 
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
    width: 900px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10vh;
    
}
@media screen and (max-width: 500px) {  
    .paragrafo{
        color:#fff;
    }
    
}
    @media screen and (min-width: 800px) {  
        .paragrafo{
            color:#fff;
        }
    
    
}
.imagem-Produto{
width: 720px;
height:720px;

}

.botao{
    display: flex;
    justify-content:center ;
    align-items: center;
}
button{
background-color: #f5f5f5;
color: #3d3d3d;
border: none;
padding: 16px 32px;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

.aside{
    width: 200px;
    top: 0px;
    left: 20px;
    padding: 10px;
    
}
.ti{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 34px;
    
}
.form{
display: flex;
flex-direction: column;
gap : 32px;
align-self: center;
justify-content: center;
align-items: center;
color: #fff;
font-family: 'Oswald', sans-serif;
font-size: 24px;
padding: 5px;



}
aside{
text-align: center;
border:solid white 30px;
border-radius: 130px;


}

#nome{
    border: solid black 5px;
    border-radius: 12px;
    height: 30px;
    width: 180px;
}
#idade{
    border: solid black 5px;
    border-radius: 12px;
    height: 30px;
    width: 180px;
}
#email{
    border: solid black 5px;
    border-radius: 12px;
    height: 30px;
    width: 180px;
}
#lim{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 80px;
}
#en{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 80px;
}
footer{
    height: 72px;
}
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:black;
    width: 100%;
  
}
.fale{
   color:#fff ;
   font-family: 'Oswald', sans-serif;
   font-size: 24px;
    
}
.zap,.face,.twiter{
    height: 30px;
}

@media screen and (max-width: 750px){
    .img{
       
    }
}