
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Dancing+Script&family=Fuggles&family=Orbitron:wght@500&family=Oswald&family=Shadows+Into+Light&display=swap');

body{
 background-image: url(/CSS/img/black-1072366_1280.jpg);
 background-attachment: fixed;
 background-size: cover;
 font-family: 'Croissant One', serif;
 font-family: 'Dancing Script', cursive;
 font-family: 'Fuggles', cursive;
 font-family: 'Orbitron', sans-serif;
 font-family: 'Oswald', sans-serif;
 font-family: 'Shadows Into Light', cursive;
 
 



}
.cabecalho{
    display: flex;

    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-img{
    height: 82px;
}

.cabecalho-nav{
    display: flex;
    gap: 32px;
}
.a,.b,.c{
    font-size: 30px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#imagem-Produto{
    border-radius: 50px;
}
.titulo{

font-size: 44px;
color:whitesmoke;
    
}

.article {
    width: 1000px;
}
.paragrafo{
    font-size: 50px; 
    text-align: justify;
    
    color: #fff;
    font-family: 'Oswald', sans-serif;  
 
    
}
@media screen and (max-width: 720px) {  
    .paragrafo{
        color: #fff;
    }
}
    

.imagem-Produto{
width: 720px;
height:720px;

}

.botao{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}
button{
background-color: #f5f5f5;
color: #3d3d3d;
border: none;
padding: 16px 32px;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

.aside{
    width: 200px;
    top: 0px;
    left: 20px;
    padding: 10px;
    
}

.form{
display: flex;
flex-direction: column;
gap:20px;
justify-content: center;
align-items: center;
color: #fff;
font-family: 'Oswald', sans-serif;
font-size: 44px;

}


#nome{
    border: solid black 5px;
    border-radius: 12px;
    height:50px;
    width: 500px;
    font-size: 30px;
}
#idade{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 500px;
    font-size: 30px;
}
#email{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 500px;
    font-size: 30px;
}
#lim{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 80px;
    
}
#en{
    border: solid black 5px;
    border-radius: 12px;
    height: 50px;
    width: 80px;
}
footer{
    height: 72px;
}
.rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:black;
    height: 15vh;
}

.fale{
   color:#fff ;
   font-family: 'Oswald', sans-serif;
   font-size: 24px;
}
.zap,.face,.twiter{
    height: 30px;
}

@media screen and (max-width: 750px){
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

    }

    .imagem-Produto{
        width: 480px;
        height:480px;
        margin-left: 40px;
      
      
    }

    .titulo{
        
    }

    .article {
        width: 480px;
        
    }
}


